clone_depth: 5
image:
  - Visual Studio 2015
environment:
  matrix:
    - target_type: x86
      vc_version: 2015
    - target_type: x64
      vc_version: 2015
    - target_type: x64_pe
      vc_version: 2015
#     - target_type: x86
#       vc_version: 2008
# # x64 is not supported vy VC2008 in AppVeyor.
# #     - target_type: x64
# #       vc_version: 2008
# #     - target_type: x64_pe
# #       vc_version: 2008
#     - target_type: x86
#       vc_version: 2012
#     - target_type: x64
#       vc_version: 2012
#     - target_type: x64_pe
#       vc_version: 2012
#     - target_type: x86
#       vc_version: 2013
#     - target_type: x64
#       vc_version: 2013
#     - target_type: x64_pe
#       vc_version: 2013
#     - target_type: x86
#       vc_version: 2015
#     - target_type: x64
#       vc_version: 2015
#     - target_type: x64_pe
#       vc_version: 2015
build_script:
  - cmd /c PCbuild\my_build.bat %target_type% %vc_version%
test_script:
  - cmd /c PCbuild\my_test.bat %target_type% %vc_version%
artifacts:
  - path: PCbuild\python*.exe
    name: python_exe
  - path: Lib.7z
    name: lib_7z
