<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <ComponentGroup Id="dev_pyconfig">
            <Component Id="include_pyconfig.h" Directory="include" Guid="*">
                <File Id="include_pyconfig.h" Name="pyconfig.h" Source="!(bindpath.src)PC\pyconfig.h" KeyPath="yes" />
            </Component>
        </ComponentGroup>
    </Fragment>
    
    <Fragment>
        <ComponentGroup Id="dev_libs">
            <Component Id="libs_python3.lib" Directory="libs" Guid="*">
                <File Id="libs_python_stable.lib" Name="python$(var.MajorVersionNumber).lib" KeyPath="yes" />
            </Component>
            <Component Id="libs_python.lib" Directory="libs" Guid="*">
                <File Id="libs_python.lib" Name="python$(var.MajorVersionNumber)$(var.MinorVersionNumber).lib" KeyPath="yes" />
            </Component>
        </ComponentGroup>
    </Fragment>
    
    <Fragment>
        <ComponentGroup Id="dev_libs_d">
            <Component Id="libs_python3_d.lib" Directory="libs" Guid="*">
                <File Id="libs_python_stable_d.lib" Name="python$(var.MajorVersionNumber)_d.lib" />
            </Component>
            <Component Id="libs_python_d.lib" Directory="libs" Guid="*">
                <File Id="libs_python_d.lib" Name="python$(var.MajorVersionNumber)$(var.MinorVersionNumber)_d.lib" />
            </Component>
        </ComponentGroup>
    </Fragment>
    
    <?ifdef IncludeMinGWLib ?>
    <Fragment>
        <ComponentGroup Id="dev_mingw">
            <Component Id="libs_libpython.a" Directory="libs" Guid="*">
                <File Id="libs_libpython.a" Name="libpython$(var.MajorVersionNumber)$(var.MinorVersionNumber).a" KeyPath="yes" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <?endif ?>

    <Fragment>
        <DirectoryRef Id="include">
            <Directory Id="include_Stackless" Name="Stackless" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="include_Stackless">
            <Directory Id="include_Stackless_core" Name="core" />
            <Directory Id="include_Stackless_module" Name="module" />
            <Directory Id="include_Stackless_pickling" Name="pickling" />
            <Directory Id="include_Stackless_platf" Name="platf" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="dev_include_Stackless">
            <!-- Stackless\*.h -->
            <?foreach header in stackless.h;stackless_api.h;stackless_version.h?>
                <Component Id="include_Stackless_$(var.header)" Directory="include_Stackless" Guid="*">
                    <File Id="include_Stackless_$(var.header)" Name="$(var.header)" Source="!(bindpath.src)Stackless\$(var.header)" />
                </Component>
            <?endforeach ?>

            <!-- Stackless\core\*.h -->
            <?foreach header in cframeobject.h;slp_exttype.h;stackless_impl.h;stackless_structs.h;stackless_tstate.h;stackless_pystate.h?>
                <Component Id="include_Stackless_core_$(var.header)" Directory="include_Stackless_core" Guid="*">
                    <File Id="include_Stackless_core_$(var.header)" Name="$(var.header)" Source="!(bindpath.src)Stackless\core\$(var.header)" />
                </Component>
            <?endforeach ?>

            <!-- Stackless\module\*.h -->
            <?foreach header in channelobject.h?>
                <Component Id="include_Stackless_module_$(var.header)" Directory="include_Stackless_module" Guid="*">
                    <File Id="include_Stackless_module_$(var.header)" Name="$(var.header)" Source="!(bindpath.src)Stackless\module\$(var.header)" />
                </Component>
            <?endforeach ?>

            <!-- Stackless\pickling\*.h -->
            <?foreach header in prickelpit.h?>
                <Component Id="include_Stackless_pickling_$(var.header)" Directory="include_Stackless_pickling" Guid="*">
                    <File Id="include_Stackless_pickling_$(var.header)" Name="$(var.header)" Source="!(bindpath.src)Stackless\pickling\$(var.header)" />
                </Component>
            <?endforeach ?>

            <!-- Stackless\platf\*.h -->
            <?foreach header in slp_platformselect.h;switch_arm32_gcc.h;switch_ppc_unix.h;switch_sparc_sun_gcc.h;switch_x86_unix.h;switch_amd64_unix.h;switch_mips_unix.h;switch_ps3_SNTools.h;switch_x64_msvc.h;switch_arm_thumb_gcc.h;switch_ppc_macosx.h;switch_s390_unix.h;switch_x86_msvc.h?>
                <Component Id="include_Stackless_platf_$(var.header)" Directory="include_Stackless_platf" Guid="*">
                    <File Id="include_Stackless_platf_$(var.header)" Name="$(var.header)" Source="!(bindpath.src)Stackless\platf\$(var.header)" />
                </Component>
            <?endforeach ?>
        </ComponentGroup>
    </Fragment>
</Wix>
